<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <img src="/images.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Ice-cream Recipes</h2>
    
    <h3>By Punekar For World</h3>
    <a id="view" href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>